<nav class="side-menu">
    <div class="menu-header">
        <img src="/Zetta.jpg" class="menu-logo" alt="Logo">
        <h3>Zetta</h3>
    </div>

    <ul class="menu-list">
        <li routerLink="/home" routerLinkActive="active">
            <i class="icon" data-lucide="home"></i>
            <span>Home</span>
        </li>

        <li routerLink="/web1" routerLinkActive="active">
            <i class="icon" data-lucide="utensils"></i>
            <span>Gestión Restaurante</span>
        </li>

        <li routerLink="/web2" routerLinkActive="active">
            <i class="icon" data-lucide="graduation-cap"></i>
            <span>Gestión Educativa</span>
        </li>
    </ul>
</nav>